.button {
  -fx-background-color: transparent;
  -fx-background-image: url('back.png');
  -fx-background-size: 2em, 2em;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.button:pressed {
  -fx-background-color: transparent;
  -fx-background-image: url('backPressed.png');
  -fx-background-size: 2em, 2em;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}
