.table-view{
  -fx-background-color: transparent;
}
.table-view .column-header-background{
  -fx-background-color: linear-gradient(#131313 0%, #383838 100%);
}
.table-view .column-header-background .label{
  -fx-background-color: transparent;
  -fx-text-fill: white;
}
.table-view .column-header {
  -fx-background-color: transparent;
}
.table-view {
  -fx-table-cell-border-color: #454545;
}
.table-view .table-cell {
  -fx-text-fill: white;
}
.table-row-cell {
  -fx-background-color: transparent;
  -fx-table-cell-border-color: transparent;
  -fx-border-color: #505050;
  -fx-border-insets: -1 -1 0 -1;
  -fx-padding: 0.0em;
}

.table-row-cell:selected {
  -fx-background-color: #787878;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;
  -fx-shape: "";
}

.table-row-cell:empty {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
.table-row-cell:empty .table-cell {
  -fx-border-width: 0px;
}
